<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Dance Champions</title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <section class="wrapper">
    <div class="container">
      <div class="img__container">
        <img
          src="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_auto/c_scale,w_500/ncom/pt_BR/games/switch/j/just-dance-2022-switch/hero"
          class="img">
      </div>
      <div class="content">
        <h2 class="subtitle">Inscrição Realizada!</h2>

        <p class="text">
          Parabéns! Sua inscrição foi realizada com sucesso!
          Calçe seus sapatos e comece a treinar para a competição :D <br />
        </p>
        <p>
          Lembre-se de chegar cedo ao local para aproveitar o freeplay de Just Dance e se divertir com os seus amigos.
          <br />
        </p>
        <p>
          Se tiver alguma dúvida você pode entrar em contato conosco no <a
            href="https://instagram.com/stardancephb">Instagram.</a><br />
          Confira também as <a href="https://drive.google.com/drive/folders/1uBtVeIpesh4_izKASBvytEAxKlQ1Uy35?usp=sharing">Regras do Torneio.</a>
        </p>
        <p>
          Ah! E um e-mail confirmando a sua inscrição foi enviado!<br/>
          Te desejamos uma boa sorte no Just Dance Champions!
        </p>
      </div>
    </div>
  </section>
</body>